body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .auth-buttons button {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: white;
    color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-buttons button:hover {
    background-color: #e6e6e6;
  }
  
  .search-section {
    text-align: center;
    margin: 20px;
  }
  
  .dropdown-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  

  #specialization-dropdown ,#searchBar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #search-button {
     padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  #search-button:hover {
    background-color: #0056b3;
  }
  

  
  /* Doctor cards container */
#doctors-list {
  background: #f0f4f8;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
  justify-content: center;
  padding: 0 20px;
}

/* Individual doctor card */
.doctor {
  background: #54a5f6;
  color: #000000;
  text-align: center;
  font-size: 16px;
  margin: 4px 4px 0;
  font-weight: bold;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 16px;
  width: 500px;
  cursor: pointer;
  transition: box-shadow 0.2s, transform 0.2s;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.doctor:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,0.12);
  transform: translateY(-4px) scale(1.03);
  background: #84c4e1;
}

/* doctor details */
.doctor-details {
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 16px;
  margin: 20px;
}

.doctor-details h2 {
  margin-top: 0;
}

.doctor-details p {
  margin: 4px 0;
}
/* doctor info */
.doctor-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.doctor-info h2 {
  margin: 0;
  font-size: 24px;
}
.doctor-info p {
  margin: 0 10px;
  font-size: 16px;
}
